.company {
  text-align: center;
  color: #5f6464;
  padding: 96px 0;
}

.title {
  font-size: 30px;
}

.subtitle {
  margin-top: 52px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}

.desc {
  font-size: 14px;
  line-height: 25px;
}
